<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.atai.ataiservice.mapper.AtaiArticleMapper">
    <!--sql语句：条件查询所有文章-->
    <select id="findAllArticleCondition" resultType="com.atai.ataiservice.entity.frontvo.ArticleFrontVo">
        SELECT um.nickname ,t1.comment_counts,t1.gmt_create,t1.id,
        t1.summary,t1.title,t1.tag,t1.view_counts,t1.weight
        FROM atai_article t1, ucenter_member um
        <where>
            t1.author_id=um.id and t1.is_deleted=0
            <if test="articleQuery.title!=null and !(articleQuery.title).equals('')">
                and t1.title like "%"#{articleQuery.title,jdbcType=VARCHAR}"%"
            </if>
            <if test="articleQuery.begin!=null and !(articleQuery.begin).equals('')">
                and t1.gmt_create &gt; #{articleQuery.begin}
            </if>
            <if test="articleQuery.end!=null and !(articleQuery.end).equals('')">
                and t1.gmt_create &lt; #{articleQuery.end}
            </if>
        </where>
        order by t1.gmt_modified desc
    </select>

    <!--sql语句：根据id查询文章内容-->
    <select id="getArticleById" resultType="com.atai.ataiservice.entity.frontvo.ArticleContentFront">
        SELECT um.`id`  AS authorId,
               um.`avatar`,
               um.`nickname`,
               aab.`content`,
               aab.`id` AS contentId,
               aa.`category`,
               aa.`comment_counts`,
               aa.`gmt_create`,
               aa.`tag`,
               aa.`id`,
               aa.`summary`,
               aa.`title`,
               aa.`view_counts`,
               aa.`weight`
        FROM atai_article aa,
             ucenter_member um,
             atai_article_body aab
        WHERE aa.`id` = #{id}
          AND aa.`author_id` = um.`id`
          AND aa.`body_id` = aab.`id`
    </select>

    <!--sql语句：访问数+1-->
    <update id="addArticleView" parameterType="java.lang.String">
        UPDATE atai_article
        SET view_counts=view_counts + 1
        WHERE id = #{id}
    </update>

    <!--sql语句：评论数+1-->
    <update id="addArticleComments" parameterType="java.lang.String">
        UPDATE atai_article
        SET comment_counts=comment_counts + 1
        WHERE id = #{id}
    </update >
</mapper>
