<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.atai.ataiservice.mapper.AtaiArticleMapper">
    <!--sql语句：根据id查询文章内容-->
    <select id="getArticleById" resultType="com.atai.ataiservice.entity.frontvo.ArticleBodyFrontVo">
        SELECT um.`id`  AS authorId,
               um.`avatar`,
               um.`nickname`,
               aab.`content`,
               aab.`id` AS contentId,
               aa.`comment_counts`,
               aa.`gmt_create`,
               aa.`id`,
               aa.`summary`,
               aa.`title`,
               aa.`view_counts`
        FROM atai_article aa,
             ucenter_member um,
             atai_article_body aab
        WHERE aa.`id` = #{id}
          AND aa.`author_id` = um.`id`
          AND aa.`body_id` = aab.`id`
    </select>

    <!--sql语句：访问数+1-->
    <update id="addArticleView" parameterType="java.lang.String">
        UPDATE atai_article
        SET view_counts=view_counts + 1
        WHERE id = #{id}
    </update>

    <!--sql语句：评论数+1-->
    <update id="addArticleComments" parameterType="java.lang.String">
        UPDATE atai_article
        SET comment_counts=comment_counts + 1
        WHERE id = #{id}
    </update >
</mapper>
