<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.atai.edusta.mapper.StatisticsDailyMapper">
    <!--各类比赛参赛人数-赛事数-->
    <select id="compCnumAndPnum" resultType="com.atai.edusta.entity.CompCnumAndPnum">
        SELECT COUNT(*) AS cnum ,LEVEL,SUM(participants) AS pnum FROM atai_competition GROUP BY LEVEL
    </select>
<!--    文章根据分类对点击量与评论数的统计-->
    <select id="articleSta" resultType="com.atai.edusta.entity.ArticleSta">
        SELECT COUNT(*) AS cnum ,category ,SUM(view_counts) AS view_counts, SUM(comment_counts) AS comment_counts
        FROM atai_article GROUP BY category
    </select>
</mapper>
